<a href="https://colab.research.google.com/github/Kenjagi20000/python-data-cleaning/blob/main/data_cleaning_with_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data cleaning relates so many issues with data. Some of the common ones is reading the file(csv, json, exel, text files,zipped json files etc.), missing values in the data, changing the data type of a particular column(entries), duplicates of rows and many more. lets us do all that.**



* Our first task is to read our data namely modified.csv into our work space

In [ ]:
import pandas as pd
df1 = pd.read_csv("/content/unmodified.csv")
df1.shape

In [ ]:
df1.info()

As we can see we have `NaN` values  in most of our columns. and we have to do more about it.

In [ ]:
df1.head()

As we can see above, we have inconsistent columns

In [ ]:
df1.columns

In [ ]:
# we want to make the upper case
df1.columns = df1.columns.str.upper()

In [ ]:
df1.head()

Now all our title columns have same or similar case

Now let us name the duration column with or as time.

In [ ]:
df1["TIME"]= df1["DURATION"]
df1.drop(columns = ["DURATION"], inplace = True)
df1.head()

In [ ]:
df1.info()

In [ ]:
df1.rename(columns = {"BUDGET": "BUDGET_ALLOCATED"},inplace = True)
df1.info()

In [ ]:
df1.isnull()

In [ ]:
df1.isnull().any()

In [ ]:
df1.isnull().sum()

Let us add a default value to use in place of missing values.Let us fill the `NaN` values with 0

In [ ]:
df1 = df1.fillna(0)
df1.isnull().sum()

for duration let us fill it with mean(Time of the full movie)

In [ ]:
df1.head()

In [ ]:
df1["TIME"].head()

In [ ]:
# lets find the mean of the time column
import numpy as np
from scipy import stats
#trimmed mean to about outliers
trimmed_mean = stats.mstats.trimmed_mean(df1["TIME"])

In [ ]:
trimmed_mean

In [ ]:
# without trimming
df1["TIME"].mean()

In [ ]:
# now let us fill `NaN`values with the mean
df1["TIME"].replace(0.0, (trimmed_mean),inplace = True)
df1.info()

In [ ]:
df1["TIME"] = df1["TIME"].round(2)

In [ ]:
df1.head()

Now let us look as the dtype of each column

In [ ]:
df1.info()

In [ ]:
# we might want to change the director fb likes to a float
df1["DIRECTOR_FACEBOOK_LIKES"]  = (df1["DIRECTOR_FACEBOOK_LIKES"]
 .str.replace('"' , '')
 .astype(float))

In [ ]:
df1.info()

THANK YOU
# By Evans Njagi Karago
# @kenjagi2000
# email: evansnjagi2000@gmail.com